modules = ["python-base-3.13"]
[nix]
channel = "stable-25_05"
packages = ["cargo", "ffmpeg-full", "freetype", "imagemagickBig", "lcms2", "libiconv", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "rustc", "tcl", "tk", "zlib"]

[agent]
expertMode = true
